mi_entorno/
.vscode/
cuda/
prueba.py
mi_entorno_old/
new_entorno/
entorno_py_3_10/
csvs/
fotos/
instrucciones.txt
external/panorama_extended/out/
external/panorama_extended/out.zip
pubis_data_proc_25_panorama_norm/
pubis_data_proc_25_panorama_norm.zip
training/__pycache__
*/__pycache__
*.csv
/separate_planes/normalized_data
/separate_planes/slurm_separated_planes.sh
/separate_planes/slurm*
*.json
predicciones*
*.err
*.out
*.sh
separate_x
separate_y
separate_z
ensembles_*
entrenado
prediction
inference_base
training/inferencia_img
separate_planes/inference_img/
mnt/homeGPU/jarodriguez/codigo/Age-At-Death-Estimation-from-3D-Models-of-the-Pubic-Symphysis-A-Deep-Multi-View-Learning-Approach/training/entrenado_ponderado
/root/TFG/separate_planes/inferencia_img/
*slurm*
separate_planes/inferencia_img/
separate_planes_ensembles/inferencia_img/
training/entrenado_pond
training/inferencia_img_pond
comparativa_visual_modelos_3D/csvs_thresholds
comparativa_visual_modelos_3D/th*
comparativa_visual_modelos_3D/makefile
